# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/
pip-log.txt
*.log

# Django
*.sqlite3
*.db
*.db-journal
media/
staticfiles/
*.pot
*.pyc

# IDE Configurations
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db