{% extends 'admin/admin_base/admin_base.html' %} {% load static %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">

        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add Property</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'property:admin-add-property'%}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="mb-3 col-lg-4 col-md-6">
                                    <label class="form-label">Property Title</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            required=""
                                            name="title"
                                    />
                                </div>
                                <div class="mb-3 col-lg-4 col-md-6">
                                    <label class="form-label">Property Status</label>
                                    <select class="default-select form-control wide" name="status" required="">
                                        <option>For Rent</option>
                                        <option>For Sale</option>
                                        <option>Sold</option>
                                        <option>Rented</option>

                                    </select>
                                </div>
                                <div class="mb-3 col-lg-4 col-md-6">
                                    <label class="form-label">Kitchens</label>
                                    <select class="default-select form-control wide" name="kitchen" >
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-lg-4 col-md-6">
                                    <label class="form-label">Store Room</label>
                                    <select class="default-select form-control wide" name="storeroom">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-lg-4 col-md-6">
                                    <label class="form-label">Halls</label>
                                    <select class="default-select form-control wide" name="halls">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-lg-4 col-md-6">
                                    <label class="form-label">Floor No</label>
                                    <select class="default-select form-control wide" name="floor">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-lg-4 col-md-6">
                                    <label class="form-label">Bedroom</label>
                                    <select class="default-select form-control wide" name="bedroom">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-lg-4 col-md-6">
                                    <label class="form-label">Bathroom</label>
                                    <select class="default-select form-control wide" name="bathroom">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-lg-4 col-md-6">
                                    <label class="form-label">Area</label>
                                    <input
                                            type="number"
                                            class="form-control"
                                            placeholder="85 sq ft"
                                            name="area"
                                            required=""
                                    />
                                </div>
                                <div class="mb-3 col-lg-4 col-md-6">
                                    <label class="form-label">Price</label>
                                    <input type="number" class="form-control" placeholder="$3000" name="price"/>
                                </div>

                                <div class="mb-3 col-lg-4 col-md-6">
                                    <label class="form-label">Category</label>
                                    <select class="default-select form-control wide" name="category" required="">
                                        <option>Apartment</option>
                                        <option>Condo</option>
                                        <option>House</option>
                                        <option>Industrial</option>
                                        <option>Villa</option>

                                    </select>
                                </div>
                                <div class="mb-3 col-12">
                                    <label class="form-label">Description</label>

                                    <textarea class="form-control" rows="4" name="description" required=""></textarea>
                                </div>
                                <div class="mb-3 col-lg-4 col-md-6">
                                    <label class="form-label">Latitude</label>
                                    <input
                                            type="number"
                                            class="form-control"
                                            required=""
                                            name="latitude"
                                    />
                                </div>
                                <div class="mb-3 col-lg-4 col-md-6">
                                    <label class="form-label">Longitude</label>
                                    <input
                                            type="number"
                                            class="form-control"
                                            required=""
                                            name="longitude"
                                    />
                                </div>
                                <div class="mb-3 col-lg-4 col-md-6">
                                    <label class="form-label">Country</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            required=""
                                            name="country"

                                    />
                                </div>
                                <div class="mb-3 col-sm-6">
                                    <label class="form-label">Address</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Address of your property"
                                            name="address"
                                            required=""
                                    />
                                </div>
                                <div class="mb-3 col-sm-6">
                                    <label class="form-label">Zip Code</label>
                                    <input
                                            type="number"
                                            id="zip_code"
                                            class="form-control"
                                            placeholder="Enter pin code"
                                            required=""
                                            name="zipcode"
                                    />
                                </div>
                                <div class="mb-3 col-sm-6">
                                    <label class="form-label">City</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="city"

                                    />
                                </div>

                                <div class="mb-3 col-sm-6">
                                    <label class="form-label">State</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="state"
                                            required=""
                                    />
                                </div>

                            </div>
                            <div class="dropzone-admin mb-3">

                                <div class="row">
                                    <div class="mb-3 col-12">
                                        <label class="form-label" enctype="multipart/form-data">Upload Images</label>
                                        <input
                                                type="file"

                                                class="form-control"
                                                accept="image/*"
                                                name="images"
                                                multiple
                                        />
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="mb-3 col-12">
                                        <label class="form-label"enctype="multipart/form-data">Upload Video (MP4)</label>
                                        <input
                                                type="file"
                                                class="form-control"
                                                accept="video/mp4"
                                                name="video"
                                        />
                                    </div>
                                </div>
                                <div class="mb-3 col-12">
                                    <label class="form-label d-block">Additional features</label>
                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault4"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault4">
                                            AC</label
                                        >
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault5"
                                                name="feature"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault5">
                                            Heating</label
                                        >
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault6"
                                                name="feature"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault6">
                                            Garage</label
                                        >
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault7"
                                                name="feature"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault7">
                                            Swimming Pool</label
                                        >
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault8"
                                                name="feature"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault8">
                                            Parking</label
                                        >
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault9"
                                                name="feature"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault9">
                                            Lake View</label
                                        >
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault10"
                                                name="feature"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault10">
                                            Garden</label
                                        >
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault11"
                                                name="feature"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault11">
                                            Disabled Access</label
                                        >
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault12"
                                                name="feature"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault12">
                                            Elevator Lift</label
                                        >
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault13"
                                                name="feature"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault13">
                                            Pet friendly</label
                                        >
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault14"
                                                name="feature"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault13">
                                            Ceiling Height</label
                                        >
                                    </div>


                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault15"
                                                name="feature"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault13">
                                            Outdoor Shower</label
                                        >
                                    </div>


                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault16"
                                                name="feature"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault13">
                                            Refrigerator</label
                                        >
                                    </div>


                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault17"
                                                name="feature"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault13">
                                            Wifi</label
                                        >
                                    </div>


                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault18"
                                                name="feature"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault13">
                                            Tv Cable</label
                                        >
                                    </div>


                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault19"
                                                name="feature"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault13">
                                            Barbecue</label
                                        >
                                    </div>


                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault20"
                                                name="feature"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault13">
                                            Laundry Dryer</label
                                        >
                                    </div>


                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                value=""
                                                id="flexRadioDefault21"
                                                name="feature"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault13">
                                            Lawn</label
                                        >
                                    </div>

                                    <div class="row">
                                        <div class="mb-3 col-lg-4 col-md-6" style="margin-top:20px">
                                            <label class="form-label">Coupon Type</label>
                                            <select class="default-select form-control wide" name="coupon">
                                                <option>Flat Discount</option>
                                                <option>Percentage Discount</option>
                                                <option>Buy One Get One Free</option>
                                            </select>
                                        </div>

                                        <div class="mb-3 col-lg-4 col-md-6" style="margin-top:20px">
                                            <label class="form-label">Discount Percentage</label>
                                            <input
                                                    type="number"
                                                    class="form-control"
                                                    placeholder="10%"
                                                    name="percentage"
                                            />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">Valid From</label>
                                            <input
                                                    type="date"
                                                    class="form-control"
                                                    name="valid_from"
                                            />
                                        </div>

                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">Valid Until</label>
                                            <input
                                                    type="date"
                                                    class="form-control"
                                                    name="valid_until"
                                            />
                                        </div>


                                    </div>
                                    <div class="col-sm-12 pt-3">
                                        <button type="submit" class="btn btn-sm btn-primary me-2">
                                            Submit
                                        </button>
                                        <button type="button" class="btn btn-sm btn-danger light">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}