{% extends 'admin/admin_base/admin_base.html' %} {% load static %} {% block content %}

<div class="content-body">
  <div class="container-fluid">
    <!-- row -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Add Property</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="mb-3 col-lg-4 col-md-6">
                  <label class="form-label">Property Title</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name of the Property"
                    required=""
                  />
                </div>
                <div class="mb-3 col-lg-4 col-md-6">
                  <label class="form-label">Property Status</label>
                  <select class="default-select form-control wide">
                    <option value="for rent">For Rent</option>
                    <option value="for sale">For Sale</option>
                  </select>
                </div>
                <div class="mb-3 col-lg-4 col-md-6">
                  <label class="form-label">Property Price</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Price of the Property"
                    required=""
                  />
                </div>
                <div class="mb-3 col-lg-4 col-md-6">
                  <label class="form-label">Category</label>
                  <select class="default-select form-control wide">
                    <option value="" selected="">---------</option>

                    <option value="apartment">Apartment</option>

                    <option value="condo">Condo</option>

                    <option value="house">House</option>

                    <option value="industrial">Industrial</option>

                    <option value="villa">Villa</option>
                  </select>
                </div>

                <div class="mb-3 col-sm-6">
                  <label class="form-label">Description</label>
                  <textarea class="form-control" rows="4"></textarea>
                </div>
                <div class="col-sm-12 pt-3">
                  <button type="button" class="btn btn-sm btn-primary me-2">
                    Submit
                  </button>
                  <button type="button" class="btn btn-sm btn-danger light">
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
