
        <div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-diamond"></i>
							<span class="nav-text">Dashboard</span>
						</a>
                        
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
							<i class="flaticon-381-layer-1"></i>
							<span class="nav-text">Property</span>

						</a>
                        <ul aria-expanded="false">
                            <li><a href="add-property.html">Add Property</a></li>
                            <li><a href="{% url 'home' %}">Property List</a></li>
							<li><a href="{% url 'property-detail' %}">Property Details</a></li>
                            <li><a href="{% url 'property-detail' %}">Property Enquiry</a></li>

                        </ul>
                    </li>
					
                    <li><a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                        <i class="flaticon-381-compass-1
                        "></i>
							<span class="nav-text">Property Coupon </span>


						</a>
                            <ul aria-expanded="false">
                            <li><a href="add-agent.html">
                                    All Coupon
                            </a></li>
                            <li><a href="all-agents.html">
                                Add Coupon
                            </a></li>
                            <li><a href="agent-profile.html">
                                Update Coupon

                            </a></li>

                        </ul>
                    </li>
                    
                   

					<li><a class="has-arrow ai-icon" href="{% url 'contact-us' %}" aria-expanded="false" >
							<i class="flaticon-381-dislike"></i>
							<span class="nav-text">Contact Us</span>
                        </a>
						</a>
                    </li>

                   
                     
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-battery-5"></i>
							<span class="nav-text">Terms Condition</span>
						</a>
                        
                    </li>

					<li><a class="has-arrow ai-icon" href="{% url 'about' %}" aria-expanded="false">
							<i class="flaticon-381-calendar-4"></i>
							<span class="nav-text">About Us</span>

						</a>
                    </li>
                    
                   
                    
                    
                   
                </ul>

				<div class="copyright">
					<p><strong>Omah Dashboard</strong> © <span class="current-year">2024</span> All Rights Reserved</p>
					<p>by DexignZone</p>
				</div>
			</div>
        </div>