{# Load static files like CSS and JavaScript #} {% load static %}
<!--  ********************************
Header Section Start 
***********************************-->
{% include './header.html' %}

<!-- **********************************
    Sidebar section start
    *********************************** -->
{% include './sidebar.html' %}
<!-- **********************************
    Sidebar section end
    *********************************** -->

<!-- **********************************
    Main content section
    *********************************** -->
{% block content %} {% endblock %}
<!-- **********************************
    Main content section end
    *********************************** -->

<!-- **********************************
    Footer section start
    *********************************** -->
{% include './footer.html' %}
<!-- **********************************
    Footer section end
    *********************************** -->
