{# Load static files like CSS and JavaScript #} {% load static %}
<!--  ********************************
Header Section Start 
***********************************-->
{% include './admin_header.html' %}

<!-- **********************************
    Sidebar section start
    *********************************** -->
{% include './admin_sidebar.html' %}
<!-- **********************************
    Sidebar section end
    *********************************** -->

<!-- **********************************
    Main content section
    *********************************** -->
{% block content %} {% endblock %}
<!-- **********************************
    Main content section end

    *********************************** -->
    {% include "AlertMessage/alertMessage.html" %}

<!-- **********************************
    Footer section start
    *********************************** -->
{% include './admin_footer.html' %}
<!-- **********************************
    Footer section end
    *********************************** -->
