
        <div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-diamond"></i>
							<span class="nav-text">Dashboard</span>
						</a>
                        
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
							<i class="flaticon-381-layer-1"></i>
							<span class="nav-text">Property</span>

						</a>
                        <ul aria-expanded="false">
                            <li><a href="add-property.html">Add Property</a></li>
                            <li><a href="{% url 'home' %}">Property List</a></li>
							<li><a href="{% url 'property-detail' %}">Property Details</a></li>
                            <li><a href="{% url 'property-detail' %}">Property Enquiry</a></li>

                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                        <i class="flaticon-381-compass-1
                        "></i>
							<span class="nav-text">Property Coupon </span>


						</a>
                            <ul aria-expanded="false">
                            <li><a href="add-agent.html">
                                    All Coupon
                            </a></li>
                            <li><a href="all-agents.html">
                                Add Coupon
                            </a></li>
                            <li><a href="agent-profile.html">
                                Update Coupon

                            </a></li>

                        </ul>
                    </li>
					<li><a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                        <i class="flaticon-381-user-7"></i>
							<span class="nav-text">Agents</span>


						</a>
                            <ul aria-expanded="false">
                            <li><a href="add-agent.html">Add Agent</a></li>
                            <li><a href="all-agents.html">All Agents</a></li>
                            <li><a href="agent-profile.html">Agent Profile</a></li>

                        </ul>
                    </li>

                     <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-controls"></i>
							<span class="nav-text">Customers</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="app-profile.html">Add Customer</a></li>
							<li><a href="post-details.html">All Customer</a></li>
                           
                            <li><a href="app-calender.html">Customer Profile</a></li>
							
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-back-1"></i>
							<span class="nav-text">Ads</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="chart-flot.html">Add Ads</a></li>
                            <li><a href="chart-morris.html">View All Ads</a></li>
                           
                        </ul>
                    </li>
					
                   

					<li><a class="has-arrow ai-icon" href="{% url 'contact-us' %}" aria-expanded="false" >
							<i class="flaticon-381-dislike"></i>
							<span class="nav-text">Contact Us</span>
                        </a>
						</a>
                    </li>

                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-blueprint"></i>
							<span class="nav-text">Organization</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="ui-accordion.html">Organization Role </a></li>
                            <li><a href="ui-alert.html">Organization Team Member Add</a></li>
                            <li><a href="ui-badge.html">Organization Details Add</a></li>
                            <li><a href="ui-button.html">Organization SocialMedia Add</a></li>
                           

                        </ul>
                    </li>
                     
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-battery-5"></i>
							<span class="nav-text">Terms Condition</span>
						</a>
                        
                    </li>

					<li><a class="has-arrow ai-icon" href="{% url 'about' %}" aria-expanded="false">
							<i class="flaticon-381-calendar-4"></i>
							<span class="nav-text">About Us</span>

						</a>
                    </li>
                    
                   
                    
                    
                   
                </ul>

				<div class="copyright">
					<p><strong>Omah Dashboard</strong> © <span class="current-year">2024</span> All Rights Reserved</p>
					<p>by DexignZone</p>
				</div>
			</div>
        </div>