{% extends 'admin/admin_base/admin_base.html' %} {% load static %}
{% block content %}
 <div class="content-body">
			<div class="container-fluid">
				<div class="row">
					
					  <div class="form-head page-titles d-flex  align-items-center">
						<div class="me-auto  d-lg-block d-block">
							<h4 class="mb-1">Agent Card View</h4>
							
						</div>
						<a href="add-agent.html" class="btn btn-primary light">+ Add Agent</a>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-6">
						<div class="card user-card">
							<div class="card-body pb-0">
								<div class="d-flex mb-3 align-items-center">
									<div class="dz-media me-3">
										<img src="{% static 'images/users/pic1.jpg' %}" alt="">
									</div>
									<div>
										<h5 class="title mb-0"><a href="agent-profile.html">Thomas Djons</a></h5>
										<span class="text-primary">Senior Developer</span>
									</div>
								</div>
								<p class="fs-12">Answering guest inquiries, directing phone calls, coordinating travel plans, and more.</p>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<span class="mb-0 title">Email</span> :
										<span class="text-black ms-2">example@gmail.com</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Phone</span> :
										<span class="text-black ms-2">1238545644</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Location</span> :
										<span class="text-black desc-text ms-2">Indonasia</span>
									</li>
								</ul>
							</div>
							<div class="card-footer">
								<a href="javascript:void(0);" class="btn btn-success btn-xs">Write Message</a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-6">
						<div class="card user-card">
							<div class="card-body pb-0">
								<div class="d-flex mb-3 align-items-center">
									<div class="dz-media me-3 rounded-circle">
										<img src="{% static 'images/users/pic2.jpg' %}" alt="">
									</div>
									<div>
										<h5 class="title mb-0"><a href="agent-profile.html">Oliver Jean</a></h5>
										<span class="text-info">Junior Developer</span>
									</div>
								</div>
								<p class="fs-12">Maintain inventory of supplies and order new stock as needed Maintain inventory stock</p>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<span class="mb-0 title">Email</span> :
										<span class="text-black ms-2">example@gmail.com</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Phone</span> :
										<span class="text-black ms-2">1238545644</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Location</span> :
										<span class="text-black desc-text ms-2">Indonasia</span>
									</li>
								</ul>
							</div>
							<div class="card-footer">
								<a href="javascript:void(0);" class="btn btn-primary btn-xs">Write Message</a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-6">
						<div class="card user-card">
							<div class="card-body pb-0">
								<div class="d-flex mb-3 align-items-center">
									<div class="dz-media me-3">
										<span class="icon-placeholder bg-primary text-white">pm</span>
									</div>
									<div>
										<h5 class="title mb-0"><a href="agent-profile.html">Post Melone</a></h5>
										<span class="text-success">Senior Designer</span>
									</div>
								</div>
								<p class="fs-12">Anticipate guests needs in order to accommodate them and provide an exceptional guest experience</p>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<span class="mb-0 title">Email</span> :
										<span class="text-black ms-2">example@gmail.com</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Phone</span> :
										<span class="text-black ms-2">1238545644</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Location</span> :
										<span class="text-black desc-text ms-2">Indonasia</span>
									</li>
								</ul>
							</div>
							<div class="card-footer">
								<a href="javascript:void(0);" class="btn btn-secondary btn-xs">Write Message</a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-6">
						<div class="card user-card">
							<div class="card-body pb-0">
								<div class="d-flex mb-3 align-items-center">
									<div class="dz-media rounded-circle me-3">
										<span class="icon-placeholder bgl-success text-success">km</span>
									</div>
									<div>
										<h5 class="title mb-0"><a href="agent-profile.html">Kevin Mandala</a></h5>
										<span class="text-danger">Junior Developer</span>
									</div>
								</div>
								<p class="fs-12">Answering guest inquiries, directing phone calls, coordinating travel plans, and more.</p>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<span class="mb-0 title">Email</span> :
										<span class="text-black ms-2">example@gmail.com</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Phone</span> :
										<span class="text-black ms-2">1238545644</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Location</span> :
										<span class="text-black desc-text ms-2">Indonasia</span>
									</li>
								</ul>
							</div>
							<div class="card-footer">
								<a href="javascript:void(0);" class="btn btn-info btn-xs">Write Message</a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-6">
						<div class="card user-card">
							<div class="card-body pb-0">
								<div class="d-flex mb-3 align-items-center">
									<div class="dz-media me-3">
										<img src="{% static 'images/users/pic3.jpg' %}" alt="">
									</div>
									<div>
										<h5 class="title mb-0"><a href="agent-profile.html">Mc. Kowalski</a></h5>
										<span class="text-info">Php Developer</span>
									</div>
								</div>
								<p class="fs-12">Answering guest inquiries, directing phone calls, coordinating travel plans, and more.</p>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<span class="mb-0 title">Email</span> :
										<span class="text-black ms-2">example@gmail.com</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Phone</span> :
										<span class="text-black ms-2">1238545644</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Location</span> :
										<span class="text-black desc-text ms-2">Indonasia</span>
									</li>
								</ul>
							</div>
							<div class="card-footer">
								<a href="javascript:void(0);" class="btn btn-info light btn-xs">Write Message</a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-6">
						<div class="card user-card">
							<div class="card-body pb-0">
								<div class="d-flex mb-3 align-items-center">
									<div class="dz-media me-3">
										<img src="{% static 'images/users/pic4.jpg' %}" alt="">
									</div>
									<div>
										<h5 class="title mb-0"><a href="agent-profile.html">Rio Fernandez</a></h5>
										<span class="text-danger">Python Developer</span>
									</div>
								</div>
								<p class="fs-12">Answering guest inquiries, directing phone calls, coordinating travel plans, and more.</p>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<span class="mb-0 title">Email</span> :
										<span class="text-black ms-2">example@gmail.com</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Phone</span> :
										<span class="text-black ms-2">1238545644</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Location</span> :
										<span class="text-black desc-text ms-2">Indonasia</span>
									</li>
								</ul>
							</div>
							<div class="card-footer">
								<a href="javascript:void(0);" class="btn btn-success btn-xs">Write Message</a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-6">
						<div class="card user-card">
							<div class="card-body pb-0">
								<div class="d-flex mb-3 align-items-center">
									<div class="dz-media me-3">
										<img src="{% static 'images/users/pic5.jpg' %}" alt="">
									</div>
									<div>
										<h5 class="title mb-0"><a href="agent-profile.html">Chintya Laudia</a></h5>
										<span class="text-warning">NodeJs Developer</span>
									</div>
								</div>
								<p class="fs-12">Answering guest inquiries, directing phone calls, coordinating travel plans, and more.</p>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<span class="mb-0 title">Email</span> :
										<span class="text-black ms-2">example@gmail.com</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Phone</span> :
										<span class="text-black ms-2">1238545644</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Location</span> :
										<span class="text-black desc-text ms-2">Indonasia</span>
									</li>
								</ul>
							</div>
							<div class="card-footer">
								<a href="javascript:void(0);" class="btn btn-warning light btn-xs">Write Message</a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-6">
						<div class="card user-card">
							<div class="card-body pb-0">
								<div class="d-flex mb-3 align-items-center">
									<div class="dz-media me-3">
										<img src="{% static 'images/users/pic6.jpg' %}" alt="">
									</div>
									<div>
										<h5 class="title mb-0"><a href="agent-profile.html">James Junaidi</a></h5>
										<span class="text-primary">Senior Developer</span>
									</div>
								</div>
								<p class="fs-12">Answering guest inquiries, directing phone calls, coordinating travel plans, and more.</p>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<span class="mb-0 title">Email</span> :
										<span class="text-black ms-2">example@gmail.com</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Phone</span> :
										<span class="text-black ms-2">1238545644</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Location</span> :
										<span class="text-black desc-text ms-2">Indonasia</span>
									</li>
								</ul>
							</div>
							<div class="card-footer">
								<a href="javascript:void(0);" class="btn btn-primary light btn-xs">Write Message</a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-6">
						<div class="card user-card">
							<div class="card-body pb-0">
								<div class="d-flex mb-3 align-items-center">
									<div class="dz-media me-3">
										<img src="{% static 'images/users/pic7.jpg' %}" alt="">
									</div>
									<div>
										<h5 class="title mb-0"><a href="agent-profile.html">Keanu Repes</a></h5>
										<span class="text-primary">Senior Designer</span>
									</div>
								</div>
								<p class="fs-12">Answering guest inquiries, directing phone calls, coordinating travel plans, and more.</p>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<span class="mb-0 title">Email</span> :
										<span class="text-black ms-2">example@gmail.com</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Phone</span> :
										<span class="text-black ms-2">1238545644</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Location</span> :
										<span class="text-black desc-text ms-2">Indonasia</span>
									</li>
								</ul>
							</div>
							<div class="card-footer">
								<a href="javascript:void(0);" class="btn btn-outline-danger btn-xs">Write Message</a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-6">
						<div class="card user-card">
							<div class="card-body pb-0">
								<div class="d-flex mb-3 align-items-center">
									<div class="dz-media me-3">
										<img src="{% static 'images/users/pic8.jpg' %}" alt="">
									</div>
									<div>
										<h5 class="title mb-0"><a href="agent-profile.html">Tonni Sblak</a></h5>
										<span class="text-primary">Senior Developer</span>
									</div>
								</div>
								<p class="fs-12">Answering guest inquiries, directing phone calls, coordinating travel plans, and more.</p>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<span class="mb-0 title">Email</span> :
										<span class="text-black ms-2">example@gmail.com</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Phone</span> :
										<span class="text-black ms-2">1238545644</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Location</span> :
										<span class="text-black desc-text ms-2">Indonasia</span>
									</li>
								</ul>
							</div>
							<div class="card-footer">
								<a href="javascript:void(0);" class="btn btn-outline-success btn-xs">Write Message</a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-6">
						<div class="card user-card">
							<div class="card-body pb-0">
								<div class="d-flex mb-3 align-items-center">
									<div class="dz-media me-3">
										<span class="icon-placeholder bg-primary text-white">jk</span>
									</div>
									<div>
										<h5 class="title mb-0"><a href="agent-profile.html">John Kipli</a></h5>
										<span class="text-primary">Senior Developer</span>
									</div>
								</div>
								<p class="fs-12">Answering guest inquiries, directing phone calls, coordinating travel plans, and more.</p>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<span class="mb-0 title">Email</span> :
										<span class="text-black ms-2">example@gmail.com</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Phone</span> :
										<span class="text-black ms-2">1238545644</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Location</span> :
										<span class="text-black desc-text ms-2">Indonasia</span>
									</li>
								</ul>
							</div>
							<div class="card-footer">
								<a href="javascript:void(0);" class="btn btn-outline-warning btn-xs">Write Message</a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-6">
						<div class="card user-card">
							<div class="card-body pb-0">
								<div class="d-flex mb-3 align-items-center">
									<div class="dz-media me-3">
										<span class="icon-placeholder bg-primary text-white">mo</span>
									</div>
									<div>
										<h5 class="title mb-0"><a href="agent-profile.html">Monalisa</a></h5>
										<span class="text-primary">Senior Head</span>
									</div>
								</div>
								<p class="fs-12">Answering guest inquiries, directing phone calls, coordinating travel plans, and more.</p>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<span class="mb-0 title">Email</span> :
										<span class="text-black ms-2">example@gmail.com</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Phone</span> :
										<span class="text-black ms-2">1238545644</span>
									</li>
									<li class="list-group-item">
										<span class="mb-0 title">Location</span> :
										<span class="text-black desc-text ms-2">Indonasia</span>
									</li>
								</ul>
							</div>
							<div class="card-footer">
								<a href="javascript:void(0);" class="btn btn-outline-info btn-xs">Write Message</a>
							</div>
						</div>
					</div>
				</div>
				<nav>
					<ul class="pagination pagination-gutter pagination-primary no-bg">
						<li class="page-item page-indicator">
							<a class="page-link" href="javascript:void(0)">
								<i class="la la-angle-left"></i></a>
						</li>
						<li class="page-item "><a class="page-link" href="javascript:void(0)">1</a>
						</li>
						<li class="page-item active"><a class="page-link" href="javascript:void(0)">2</a></li>
						<li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
						<li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
						<li class="page-item page-indicator">
							<a class="page-link" href="javascript:void(0)">
								<i class="la la-angle-right"></i></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
{% endblock content %}