{% extends 'admin/admin_base/admin_base.html' %} {% load static %}

{% block content %}
<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="form-head page-titles d-flex align-items-center">
        <div class="me-auto d-lg-block d-block">
          <h4 class="mb-1">Customer Card View</h4>
        </div>
        <a href="add-agent.html" class="btn btn-primary light">+ Add Customer</a>
      </div>

       <div class="row">
      <div class="col-12">
        <div class="filter cm-content-box box-primary">
          <div class="content-title SlideToolHeader">
            <div class="cpa">
              <i class="fa-sharp fa-solid fa-filter me-2"></i>Filter
            </div>
            <div class="tools">
              <a href="javascript:void(0);" class="expand handle"
                ><i class="fal fa-angle-down"></i
              ></a>
            </div>
          </div>
          <div class="cm-content-body form excerpt">
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="mb-3 col-lg-3 col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Your Keyword..."
                      required=""
                    />
                  </div>
                  <div class="mb-3 col-lg-3 col-md-6">
                    <select class="default-select form-control wide">
                      <option>Select Location</option>
                      <option>London</option>
                      <option>Paris</option>
                      <option>California</option>
                      <option>Indonesia</option>
                      <option>Iraq</option>
                    </select>
                  </div>
                  <div class="mb-3 col-lg-3 col-md-6">
                    <select class="default-select form-control wide">
                      <option>Property Type</option>
                      <option>Wide Area</option>
                      <option>Building</option>
                      <option>Commertial</option>
                      <option>Residental</option>
                    </select>
                  </div>
                  <div class="mb-3 col-lg-3 col-md-6">
                    <select class="default-select form-control wide">
                      <option>Select Category</option>
                      <option>For Rent</option>
                      <option>For Sale</option>
                    </select>
                  </div>
                </div>
              </form>
              <div class="row align-items-center">
                <div class="mb-3 col-lg-4 col-md-6">
                  <h6 class="title">Price Range</h6>
                  <div class="combined2 mt-3">
                    <div id="combined2"></div>
                    <span
                      class="example-val"
                      id="slider-combined2-value-min"
                    ></span>
                    <span
                      class="example-val"
                      id="slider-combined2-value-max"
                    ></span>
                  </div>
                </div>
                <div class="mb-3 col-lg-4 col-md-6">
                  <h6 class="title">Area Range</h6>
                  <div class="combined mt-3">
                    <div id="combined"></div>
                    <span
                      class="example-val"
                      id="slider-combined-value-min"
                    ></span>
                    <span
                      class="example-val"
                      id="slider-combined-value-max"
                    ></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 align-self-end mb-3">
                  <button
                    class="btn btn-primary rounded-sm w-100"
                    title="Click here to Search"
                    type="button"
                  >
                    <i class="fa fa-search me-1"></i>Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	  
	{% for agent in page_obj %}
    <!-- Loop through each address associated with the agent -->
    {% for address in agent.addresses.all %}
        <div class="col-xl-3 col-xxl-4 col-lg-4 col-sm-6">
            <div class="card user-card">
                <div class="card-body pb-0">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="dz-media me-3">
                            {% if agent.profile_picture %}
                                <img src="{{ agent.profile_picture.url }}" alt="img" />
                            {% else %}
                                <img src="{% static 'images/profile/small/pic2.jpg' %}" alt="Default Profile" />
                            {% endif %}
                        </div>
                        <div>
                            <h5 class="title mb-0">
                                <a href="agent-profile.html">{{ agent.first_name }} {{ agent.last_name }}</a>
                            </h5>
                            <span class="text-primary">{{ address.country }} {{ address.address }} {{ address.state }}</span>
                        </div>
                    </div>
                    <p class="fs-12">
                        Answering guest inquiries, directing phone calls, coordinating
                        travel plans, and more.
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="mb-0 title">Email</span> :
                            <span class="text-black ms-2">{{ agent.email }}</span>
                        </li>
                        <li class="list-group-item">
                            <span class="mb-0 title">Phone</span> :
                            <span class="text-black ms-2">{{ agent.phone_number }}</span>
                        </li>
                        <li class="list-group-item">
                            <span class="mb-0 title">Location</span> :
                            <span class="text-black desc-text ms-2">{{ address.state }}</span>
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="{% url 'account:admin-detail-agent' agent.user_id %}" class="btn btn-success btn-xs">View More</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}

<!-- Pagination Controls -->
<nav>
    <ul class="pagination pagination-gutter pagination-primary no-bg">
        {% if page_obj.has_previous %}
            <li class="page-item page-indicator">
                <a class="page-link" href="?page=1">
                    <i class="la la-angle-left"></i>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% endif %}

        <!-- Display page numbers -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            <li class="page-item page-indicator">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                    <i class="la la-angle-right"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

    </div>
  </div>
  
</div>
{% endblock content %}
