{% load static %} {# Load static files for use in templates #}

<div class="footer"> {# Footer section starts #}
    <div class="copyright"> {# Copyright information #}
        <p>Copyright © Designed &amp; Developed by 
            <a href="http://dexignzone.com/" target="_blank">DexignZone</a> 
            <span class="current-year">2024</span>
        </p>
    </div>
</div>
<!-- Footer end -->



</div>
<!-- Main wrapper end -->

<!-- Scripts section starts -->
<!-- Required vendors and custom JavaScript files -->

<script src="{% static 'vendor/global/global.min.js' %}"></script> 
{# Global vendor script #}

<script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script> 
{# Bootstrap select plugin script #}

<script src="{% static 'vendor/swiper/js/swiper-bundle.min.js' %}"></script> 
{# Swiper plugin script for sliders #}

<script src="{% static 'vendor/magnific-popup/magnific-popup.js' %}"></script> 
{# Magnific Popup plugin script for modals #}

<script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script> 
{# NoUiSlider plugin script for sliders #}

<script src="{% static 'vendor/wnumb/wNumb.js' %}"></script> 
{# wNumb script for numeric formatting in sliders #}

<script src="{% static 'js/dashboard/cms.js' %}"></script> 
{# Custom CMS dashboard script #}

<script src="{% static 'js/custom.min.js' %}"></script> 
{# Minified custom JavaScript #}

<script src="{% static 'js/deznav-init.js' %}"></script> 
{# Deznav initialization script #}
<script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script> 
{# Main script #}
<script>
      var dragTapSlider = document.getElementById("combined2");
      noUiSlider.create(dragTapSlider, {
        start: [40, 60],
        behaviour: "drag-tap",
        connect: true,
        range: {
          min: 20,
          max: 80,
        },
      });

      var combined2Min = document.getElementById("slider-combined2-value-min"),
        combined2Max = document.getElementById("slider-combined2-value-max");
      dragTapSlider.noUiSlider.on("update", function (values, handle) {
        if (handle) {
          combined2Max.innerHTML = values[handle];
        } else {
          combined2Min.innerHTML = values[handle];
        }
      });

      var dragTapSlider = document.getElementById("combined");
      noUiSlider.create(dragTapSlider, {
        start: [40, 60],
        behaviour: "drag-tap",
        connect: true,
        range: {
          min: 20,
          max: 80,
        },
      });

      var combinedMin = document.getElementById("slider-combined-value-min"),
        combinedMax = document.getElementById("slider-combined-value-max");
      dragTapSlider.noUiSlider.on("update", function (values, handle) {
        if (handle) {
          combinedMax.innerHTML = values[handle];
        } else {
          combinedMin.innerHTML = values[handle];
        }
      });
    </script>
    <script>
      setTimeout(() => {
        if (jQuery(".post-swiper").length > 0) {
          var swiper = new Swiper(".post-swiper", {
            slidesPerView: 1,
            spaceBetween: 0,
            speed: 1500,
            loop: true,
            autoplay: {
              delay: 1500,
            },
            navigation: {
              nextEl: ".menu-button-next",
              prevEl: ".menu-button-prev",
            },
          });
        }
      }, 1000);
    </script>
  </body>


